@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .sec {
  position: fixed;
  width: 100%;
  top: 0;
  transition: ease 0.3s;
  z-index: 999;
}
body .sec header {
  transition: ease 0.3s;
}
@media screen and (max-width: 576px) {
  body .sec header {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  body .sec header {
    display: none;
  }
}
body .sec header .top-header {
  background-color: #0082c3;
}
body .sec header .top-header .menu-topbar {
  padding: 8px 0;
  list-style: none;
  display: flex;
  font-family: "Open Sans", sans-serif;
  justify-content: flex-end;
  align-items: center;
  margin: 0 2rem;
}
body .sec header .top-header .menu-topbar li {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  body .sec header .top-header .menu-topbar li {
    margin: 0 2px;
  }
}
body .sec header .top-header .menu-topbar li a {
  padding: 6px 16px;
  color: #fff;
  text-decoration: none;
}
body .sec header .top-header .menu-topbar li:hover a {
  background-color: #fff;
  border-radius: 8px;
  color: #000;
}
body .sec header .top-header .menu-topbar li:last-child a {
  padding: 6px 16px;
  background-color: #d72027;
  border-radius: 8px;
  margin-right: 0;
  margin-left: 8px;
}
body .sec header .top-header .menu-topbar li:last-child a i {
  margin-right: 8px;
}
body .sec nav .header-menu {
  background: linear-gradient(180deg, #25769e, #1a3c6a);
  height: 65px;
  padding: 4px 30px;
  width: 100%;
}
body .sec nav .header-menu .nav-logo {
  padding: 6px;
}
@media screen and (max-width: 576px) {
  body .sec nav .header-menu .nav-logo {
    width: 50%;
  }
}
body .sec nav .header-menu .nav-logo img {
  height: 48px;
}
body .sec nav .header-menu .nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 576px) {
  body .sec nav .header-menu .nav-menu {
    width: 50%;
  }
}
body .sec nav .header-menu .nav-menu .menu {
  margin-top: 20px;
  margin-right: 3rem;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 576px) {
  body .sec nav .header-menu .nav-menu .menu {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  body .sec nav .header-menu .nav-menu .menu {
    display: none;
  }
}
body .sec nav .header-menu .nav-menu .menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding: 18px 14px;
}
body .sec nav .header-menu .nav-menu .menu li::after {
  content: "";
  width: 100%;
  margin-top: 14px;
  height: 3px;
  background-color: #d72027;
  display: block;
  transition: ease-in 0.3s;
  transform: scaleX(0);
}
body .sec nav .header-menu .nav-menu .menu li:hover::after {
  transform: scaleX(1);
}
body .sec nav .header-menu .icon-nav-bar {
  text-align: right;
  display: none;
  line-height: 60px;
}
@media screen and (max-width: 576px) {
  body .sec nav .header-menu .icon-nav-bar {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  body .sec nav .header-menu .icon-nav-bar {
    display: block;
  }
}
body .sec nav .header-menu .icon-nav-bar button {
  background: none;
  border: none;
}
body .sec nav .header-menu .icon-nav-bar button i {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
body .sec nav .menu-mobile {
  padding: 2rem 1rem;
  width: 250px;
  transition: ease-in-out 0.4s;
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  left: -100%;
  overflow: hidden;
  padding-left: 1rem;
  background: linear-gradient(90deg, #0082c3, #1a3c6a);
}
@media screen and (min-width: 992px) {
  body .sec nav .menu-mobile {
    display: none;
  }
}
body .sec nav .menu-mobile .logo {
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
  text-align: center;
}
body .sec nav .menu-mobile .logo img {
  height: 48px;
}
body .sec nav .menu-mobile .menu-desc {
  margin-top: 2rem;
  font-family: "Open Sans", sans-serif;
}
body .sec nav .menu-mobile .menu-desc .item {
  padding: 1rem 0;
  border-radius: 8px;
}
body .sec nav .menu-mobile .menu-desc .item a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding-left: 1rem;
  font-weight: 600;
}
body .sec nav .menu-mobile .menu-desc .item:hover {
  background-color: #fff;
}
body .sec nav .menu-mobile .menu-desc .item:hover a {
  color: #000;
}
body .main-home .banner {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://ledinhdung09.github.io/betu-khoa/assets/img/banner/Thiết kế chưa có tên.png");
}
body .main-home .banner .banner-title {
  margin-top: 6rem;
  position: relative;
  height: 440px;
}
@media screen and (max-width: 576px) {
  body .main-home .banner .banner-title {
    padding: 1rem;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 992px) {
  body .main-home .banner .banner-title {
    padding: 1rem;
    margin-top: 4rem;
  }
}
body .main-home .banner .banner-title .banner-title-left {
  color: #fff;
  padding-top: 5rem;
}
@media screen and (max-width: 768px) {
  body .main-home .banner .banner-title .banner-title-left {
    text-align: center;
  }
}
body .main-home .banner .banner-title .banner-title-left h3 {
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  body .main-home .banner .banner-title .banner-title-left h3 {
    font-size: 25px;
  }
}
body .main-home .banner .banner-title .banner-title-left p {
  border-left: 5px solid #d72027;
  padding-left: 1rem;
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  body .main-home .banner .banner-title .banner-title-left p {
    font-size: 18px;
    display: inline;
  }
}
body .main-home .banner .banner-title .banner-title-left .banner-btn {
  margin-top: 2rem;
}
body .main-home .banner .banner-title .banner-title-left .banner-btn ul {
  list-style: none;
  display: flex;
}
@media screen and (max-width: 576px) {
  body .main-home .banner .banner-title .banner-title-left .banner-btn ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
body .main-home .banner .banner-title .banner-title-left .banner-btn li {
  margin: 0.5rem 1rem;
}
body .main-home .banner .banner-title .banner-title-left .banner-btn li .btn-left {
  background-color: #d72027;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 16px;
  min-width: 178px;
}
body .main-home .banner .banner-title .banner-title-left .banner-btn li .btn-left:hover {
  opacity: 0.8;
}
body .main-home .banner .banner-title .banner-title-left .banner-btn li .btn-right {
  background-color: #f5f5f5;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  min-width: 178px;
}
body .main-home .banner .banner-title .banner-title-left .banner-btn li .btn-right:hover {
  opacity: 0.8;
}
body .main-home .banner .banner-title-right {
  position: absolute;
  top: -27%;
  right: 0;
  height: 560px;
}
@media screen and (max-width: 992px) {
  body .main-home .banner .banner-title-right {
    display: none;
  }
}
body .main-home .banner .banner-title-right img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .main-home .industry-info {
  padding: 3rem;
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 576px) {
  body .main-home .industry-info {
    padding: 1rem;
  }
}
@media screen and (max-width: 576px) {
  body .main-home .industry-info .industry-col {
    width: 50%;
    padding: 0 3px;
  }
}
@media screen and (min-width: 992px) {
  body .main-home .industry-info .industry-col {
    width: 25%;
  }
}
body .main-home .industry-info .industry-col h3 {
  font-size: 18px;
  font-weight: 600;
  color: #1a3c6a;
}
body .main-home .industry-info .industry-col ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
body .main-home .industry-info .industry-col ul li {
  padding: 2px 0;
}
body .main-home .industry-info .industry-col ul li p {
  margin: 0;
}
@media screen and (max-width: 576px) {
  body .main-home .industry-info .industry-col ul li p {
    font-size: 14px;
  }
}
body .main-home .overView {
  padding: 3rem 0;
}
body .main-home .overView .overView-Content h2 {
  font-size: 40px;
  font-weight: 600;
  color: #1a3c6a;
}
body .main-home .overView .overView-Content p {
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
}
body .main-home .overView .overView-Content span {
  font-size: 18px;
  font-weight: 600;
  margin-top: 1rem;
}
@media screen and (max-width: 992px) {
  body .main-home .overView .overView-img {
    margin-top: 3.5rem;
  }
}
body .main-home .overView .overView-img img {
  width: 100%;
}
body .main-home .features {
  padding: 3rem 0;
  background-color: #0082c3;
  font-family: "Open Sans", sans-serif;
}
body .main-home .features .title {
  color: #fff;
}
body .main-home .features .title h2 {
  font-size: 40px;
  font-weight: 600;
}
body .main-home .features .title p {
  font-size: 18px;
}
body .main-home .features .desc .card {
  padding: 2rem;
  border-radius: 8px;
  margin-top: 1rem;
  box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.15);
  background-color: #f5f5f5;
}
body .main-home .features .desc .card .subTitle h3 {
  font-size: 22px;
  font-weight: 600;
}
body .main-home .features .desc .card .subTitle ::after {
  content: "";
  width: 10%;
  transition: ease-in 0.2s;
  margin-top: 2rem;
  border-bottom: 2px solid #0082c3;
  display: block;
}
body .main-home .features .desc .card .content {
  height: 130px;
  margin-top: 1rem;
  text-align: justify;
}
body .main-home .features .desc .card .content p {
  font-size: 18px;
  font-weight: 300;
}
body .main-home .features .desc .card:hover .subTitle ::after {
  width: 100%;
}
body .main-home .learning {
  padding: 2rem 0;
  font-family: "Open Sans", sans-serif;
}
body .main-home .learning .learning-left .learning-desc h2 {
  font-size: 40px;
  font-weight: 600;
  color: #1a3c6a;
}
body .main-home .learning .learning-left .learning-desc p {
  font-size: 18px;
}
body .main-home .learning .learning-left .learning-img {
  height: 350px;
}
body .main-home .learning .learning-left .learning-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
body .main-home .learning .learning-right {
  margin-top: 5rem;
  padding-left: 1rem;
}
body .main-home .learning .learning-right .content {
  border-bottom: 1px solid #e2e4e9;
  margin-bottom: 2rem;
}
body .main-home .learning .learning-right .content h3 {
  margin-bottom: 1rem;
  font-weight: bolder;
  color: #1a3c6a;
}
body .main-home .chance {
  background-color: #f5f5f5;
  padding: 2rem 0;
  font-family: "Open Sans", sans-serif;
}
body .main-home .chance .title h3 {
  font-size: 40px;
  font-weight: 600;
  color: #1a3c6a;
}
body .main-home .chance .title p {
  font-size: 18px;
  margin: 1rem 0;
}
body .main-home .chance .desc ul {
  padding: 0;
  margin-top: 2rem;
}
body .main-home .chance .desc ul li {
  display: flex;
  text-align: justify;
}
body .main-home .chance .desc ul li i {
  margin-right: 0.5rem;
  color: #d72027;
}
body .main-home .chance .desc ul li p {
  font-size: 18px;
}
body .main-home .lecturer {
  padding: 3rem 0;
  font-family: "Open Sans", sans-serif;
}
body .main-home .lecturer .container .title h3 {
  font-size: 40px;
  font-weight: 500;
  color: #1a3c6a;
}
@media screen and (max-width: 576px) {
  body .main-home .lecturer .container .title h3 {
    font-size: 35px;
  }
}
body .main-home .lecturer .container .title p {
  font-size: 18px;
  font-weight: 400;
  width: 80%;
  text-align: justify;
}
@media screen and (max-width: 576px) {
  body .main-home .lecturer .container .title p {
    width: 100%;
  }
}
body .main-home .lecturer .container .content {
  text-align: center;
}
body .main-home .lecturer .container .content .container-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-home .lecturer .container .content .card-lecturer {
  margin-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  border-bottom: 3px solid #e0e0e0;
  box-shadow: rgba(33, 33, 33, 0.06) 0 4px 24px 5px;
  text-align: center;
  width: 350px;
  border-radius: 8px 8px;
  transition: ease 0.3s;
}
@media screen and (max-width: 576px) {
  body .main-home .lecturer .container .content .card-lecturer {
    width: 250px;
    padding-bottom: 0;
  }
}
body .main-home .lecturer .container .content .card-lecturer .avatar {
  height: 270px;
}
body .main-home .lecturer .container .content .card-lecturer .avatar img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
body .main-home .lecturer .container .content .card-lecturer .info strong {
  display: block;
  margin-top: 1rem;
}
body .main-home .lecturer .container .content .card-lecturer .info small {
  margin-top: 8px;
  display: block;
  font-size: 16px;
  font-style: italic;
  color: #d72027;
}
body .main-home .lecturer .container .content .card-lecturer .info::after {
  content: "";
  vertical-align: middle;
  width: 50px;
  display: inline-block;
  height: 3px;
  background-color: #0082c3;
}
body .main-home .lecturer .container .content .card-lecturer .desc {
  padding: 0.5rem 2rem;
  text-align: left;
}
body .main-home .lecturer .container .content .card-lecturer:hover {
  border-bottom: 3px solid #0082c3;
  transform: scale(1.1);
}
body .main-home .article {
  padding: 2rem 0;
  background-color: #f5f5f5;
}
body .main-home .article .title {
  margin-top: 1rem;
}
body .main-home .article .title h3 {
  font-size: 40px;
  font-weight: 600;
  color: #1a3c6a;
}
@media screen and (max-width: 576px) {
  body .main-home .article .title h3 {
    font-size: 35px;
  }
}
body .main-home .article .news {
  margin-top: 1rem;
}
body .main-home .article .news .news-left {
  margin-bottom: 1rem;
}
body .main-home .article .news .news-left a {
  text-decoration: none;
}
body .main-home .article .news .news-left a .news-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
body .main-home .article .news .news-left a .desc {
  margin-top: 1rem;
}
body .main-home .article .news .news-left a .desc strong {
  display: block;
  color: #d72027;
  font-size: 16px;
}
body .main-home .article .news .news-left a .desc small {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 0.5rem 0;
  color: #000;
}
body .main-home .article .news .news-right ul {
  margin: 0;
  padding: 0;
}
body .main-home .article .news .news-right ul .item {
  border-bottom: 1px solid #0082c3;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  list-style: none;
}
body .main-home .article .news .news-right ul .item a {
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 576px) {
  body .main-home .article .news .news-right ul .item a .item-left {
    flex: 0 0 auto;
    width: 33.33333%;
    margin-top: 18px;
  }
}
body .main-home .article .news .news-right ul .item a .item-left .item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
body .main-home .article .news .news-right ul .item a .item-right {
  padding: 0;
}
@media screen and (max-width: 576px) {
  body .main-home .article .news .news-right ul .item a .item-right {
    flex: 0 0 auto;
    width: 66.66667%;
    padding-right: 8px;
  }
}
body .main-home .article .news .news-right ul .item a .item-right .item-desc strong {
  display: block;
  color: #d72027;
  font-size: 16px;
}
body .main-home .article .news .news-right ul .item a .item-right .item-desc small {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0.5rem;
}
body .main-home .article .news .news-right ul .item:last-child {
  border-bottom: none;
  margin: 0;
}
body .main-home .article .news .news-right .see-more {
  float: right;
}
body .main-home .article .news .news-right .see-more a {
  text-decoration: none;
  padding: 8px 16px;
  background-color: #d72027;
  color: #fff;
  border-radius: 16px;
  font-weight: 500;
}
body .main-home .article .news .news-right .see-more a i {
  margin-left: 0.5rem;
}
body .main-home .article .event {
  margin-top: 2rem;
}
body .main-home .article .event .event-item {
  margin-bottom: 1rem;
}
body .main-home .article .event .event-item .item .event-card {
  padding-bottom: 40px;
  background-color: #fff;
  border-bottom: 3px solid #e0e0e0;
  box-shadow: rgba(33, 33, 33, 0.06) 0 4px 24px 5px;
  border-radius: 8px 8px;
}
body .main-home .article .event .event-item .item .event-card .event-image {
  height: 270px;
}
body .main-home .article .event .event-item .item .event-card .event-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
body .main-home .article .event .event-item .item .event-card .event-content {
  padding: 0 8px;
  position: relative;
}
body .main-home .article .event .event-item .item .event-card .event-content .event-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
body .main-home .article .event .event-item .item .event-card .event-content .event-info strong {
  color: #d72027;
}
body .main-home .article .event .event-item .item .event-card .event-content .event-info small {
  color: #fff;
  background-color: #0082c3;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 600;
}
body .main-home .article .event .event-item .item .event-card .event-content .event-info small i {
  margin-right: 8px;
}
body .main-home .article .event .event-item .item .event-card .event-content .event-desc {
  margin-top: 0.5rem;
  min-height: 90px;
}
body .main-home .article .event .event-item .item .event-card .event-content .event-desc p {
  font-size: 18px;
  color: #000;
  font-weight: 500;
}
body .main-home .article .event .event-item .item .event-card .event-content .btn-register {
  text-align: center;
  position: relative;
  bottom: -40px;
  transform: translate(0%, 100%);
  transition: ease 0.3s;
  z-index: -1;
}
body .main-home .article .event .event-item .item .event-card .event-content .btn-register a {
  font-weight: 600;
}
body .main-home .article .event .event-item .item .event-card:hover {
  border-bottom: 3px solid #0082c3;
}
body .main-home .article .event .event-item .item .event-card:hover .event-content .btn-register {
  z-index: 1;
  transform: translate(0%, -60%);
}
body .main-article .featured-news {
  padding: 2rem 0;
  margin-top: 6rem;
}
body .main-article .featured-news .container-news {
  margin: 0 4rem;
}
@media screen and (max-width: 992px) {
  body .main-article .featured-news .container-news {
    margin: 0 1rem;
    width: 100%;
  }
}
body .main-article .featured-news .container-news h3 {
  font-size: 35px;
  margin-bottom: 1rem;
  color: #1a3c6a;
}
body .main-article .featured-news .container-news .carousel-news .card-news {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-article .featured-news .container-news .carousel-news .card-news .banner-news {
  position: relative;
  height: 500px;
  width: 1140px;
}
@media screen and (max-width: 992px) {
  body .main-article .featured-news .container-news .carousel-news .card-news .banner-news {
    width: 700px;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  body .main-article .featured-news .container-news .carousel-news .card-news .banner-news {
    height: auto;
    width: 350px;
    border-radius: 8px;
  }
}
body .main-article .featured-news .container-news .carousel-news .card-news .banner-news .content {
  background-color: #e2e4e9;
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
  opacity: 0.9;
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 576px) {
  body .main-article .featured-news .container-news .carousel-news .card-news .banner-news .content {
    position: unset;
    width: 100%;
    padding: 1rem;
    height: auto;
  }
}
body .main-article .featured-news .container-news .carousel-news .card-news .banner-news .content h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  body .main-article .featured-news .container-news .carousel-news .card-news .banner-news .content h4 {
    height: 90px;
  }
}
body .main-article .featured-news .container-news .carousel-news .card-news .banner-news .image-news {
  width: 100%;
  height: 100%;
}
body .main-article .featured-news .container-news .carousel-news .card-news .banner-news .image-news img {
  width: 100%;
  height: 100%;
}
body .main-article .nav-article {
  padding: 2rem 0;
}
body .main-article .nav-article .nav {
  background-color: #e2e4e9;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-article .nav-article .nav .menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
body .main-article .nav-article .nav .menu li {
  padding: 12px 16px;
}
body .main-article .nav-article .nav .menu li a {
  text-decoration: none;
  font-size: 16px;
  color: #1a3c6a;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
body .main-article .nav-article .nav .menu li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #d72027;
  transition: ease 0.3s;
}
body .main-article .nav-article .nav .menu li:hover a::after {
  width: 100%;
}
body .main-article .list-news .container-list-news {
  margin: 0 8rem;
}
@media screen and (max-width: 992px) {
  body .main-article .list-news .container-list-news {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 576px) {
  body .main-article .list-news .container-list-news {
    margin: 0 2rem;
  }
}
body .main-article .list-news .container-list-news .title {
  margin-bottom: 1rem;
}
body .main-article .list-news .container-list-news .title h3 {
  font-size: 35px;
  color: #1a3c6a;
}
body .main-article .list-news .container-list-news .card-news {
  display: flex;
  margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
  body .main-article .list-news .container-list-news .card-news {
    display: block;
  }
}
body .main-article .list-news .container-list-news .card-news .item-card-news {
  width: 33.33333%;
  margin: 0 16px;
}
@media screen and (max-width: 576px) {
  body .main-article .list-news .container-list-news .card-news .item-card-news {
    width: 100%;
    margin: 20px 16px;
  }
}
body .main-article .list-news .container-list-news .card-news .item-card-news a img {
  width: 100%;
}
body .main-article .list-news .container-list-news .card-news .item-card-news .desc {
  font-family: "Open Sans", sans-serif;
  padding: 10px 12px;
}
body .main-article .list-news .container-list-news .card-news .item-card-news .desc .title {
  margin: 0;
}
body .main-article .list-news .container-list-news .card-news .item-card-news .desc .title a {
  text-decoration: none;
  font-size: 18px;
  color: #0082c3;
}
body .main-article .list-news .container-list-news .card-news .item-card-news .desc .category {
  margin: 8px 0;
}
body .main-article .list-news .container-list-news .card-news .item-card-news .desc .category span {
  background-color: #e2e4e9;
  color: #1a3c6a;
  padding: 4px 18px;
  font-size: 14px;
  font-weight: 500;
}
body .main-article .list-news .container-list-news .card-news .item-card-news .desc .time span {
  color: #797a97;
}
body .main-article .list-news .container-list-news .card-news .item-card-news .desc .time span i {
  margin-right: 8px;
  color: #797a97;
}
body .main-article .list-news .container-list-news .card-news .item-card-news .content {
  padding: 0 12px;
}
body .main-article .list-news .container-list-news .card-news .item-card-news .content p {
  font-size: 14px;
}
body .main-article .list-news .container-list-news .number-page ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-article .list-news .container-list-news .number-page ul li {
  padding: 0 16px;
  margin: 0 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-article .list-news .container-list-news .number-page ul li a {
  text-decoration: none;
  color: #000;
}
body .main-article .list-news .container-list-news .number-page ul li.active {
  background-color: #0082c3;
}
body .main-article .list-news .container-list-news .number-page ul li.active a {
  color: #fff;
}
body .main-article .list-news .container-list-news .number-page ul li:hover {
  background-color: #0082c3;
}
body .main-article .list-news .container-list-news .number-page ul li:hover a {
  color: #fff;
}
body .main-article .list-event {
  padding: 2rem 0;
}
body .main-article .list-event h3 {
  font-size: 35px;
  color: #1a3c6a;
}
body .main-article .list-event .event {
  margin-top: 2rem;
}
body .main-article .list-event .event .event-item {
  margin-bottom: 1rem;
}
body .main-article .list-event .event .event-item .item .event-card {
  padding-bottom: 40px;
  background-color: #fff;
  border-bottom: 3px solid #e0e0e0;
  box-shadow: rgba(33, 33, 33, 0.06) 0 4px 24px 5px;
  border-radius: 8px 8px;
}
body .main-article .list-event .event .event-item .item .event-card .event-image {
  height: 270px;
}
body .main-article .list-event .event .event-item .item .event-card .event-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
body .main-article .list-event .event .event-item .item .event-card .event-content {
  padding: 0 8px;
  position: relative;
}
body .main-article .list-event .event .event-item .item .event-card .event-content .event-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
body .main-article .list-event .event .event-item .item .event-card .event-content .event-info strong {
  color: #d72027;
}
body .main-article .list-event .event .event-item .item .event-card .event-content .event-info small {
  color: #fff;
  background-color: #0082c3;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 600;
}
body .main-article .list-event .event .event-item .item .event-card .event-content .event-info small i {
  margin-right: 8px;
}
body .main-article .list-event .event .event-item .item .event-card .event-content .event-desc {
  margin-top: 0.5rem;
  min-height: 90px;
}
body .main-article .list-event .event .event-item .item .event-card .event-content .event-desc p {
  font-size: 18px;
  color: #000;
  font-weight: 500;
}
body .main-article .list-event .event .event-item .item .event-card .event-content .btn-register {
  text-align: center;
  position: relative;
  bottom: 0px;
  transform: translate(0%, 100%);
  transition: ease 0.3s;
  z-index: -1;
}
body .main-article .list-event .event .event-item .item .event-card .event-content .btn-register a {
  font-weight: 600;
}
body .main-article .list-event .event .event-item .item .event-card:hover {
  border-bottom: 3px solid #0082c3;
}
body .main-article .list-event .event .event-item .item .event-card:hover .event-content .btn-register {
  z-index: 1;
  transform: translate(0%, 35%);
}
body .main-article-detail .article-detail {
  margin-top: 8rem;
}
body .main-article-detail .article-detail .container-article-detail {
  width: 1140px;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 992px) {
  body .main-article-detail .article-detail .container-article-detail {
    width: 768px;
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  body .main-article-detail .article-detail .container-article-detail {
    width: 90%;
    margin: 0 2rem;
  }
}
body .main-article-detail .article-detail .container-article-detail .content {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
body .main-article-detail .article-detail .container-article-detail .content .title {
  text-align: center;
}
body .main-article-detail .article-detail .container-article-detail .content .title h3 {
  font-size: 35px;
  color: #1a3c6a;
}
body .main-article-detail .article-detail .container-article-detail .content .info-article-detail {
  margin-bottom: 2rem;
}
body .main-article-detail .article-detail .container-article-detail .content .info-article-detail .container-info {
  text-align: center;
}
body .main-article-detail .article-detail .container-article-detail .content .info-article-detail .container-info .create-by {
  display: block;
  font-size: 18px;
  margin-bottom: 0.5rem;
}
body .main-article-detail .article-detail .container-article-detail .content .info-article-detail .container-info .create-by a {
  text-decoration: none;
  color: #0082c3;
  font-weight: 500;
}
body .main-article-detail .article-detail .container-article-detail .content .info-article-detail .container-info .create-by a:hover {
  text-decoration: underline;
}
body .main-article-detail .article-detail .container-article-detail .content .info-article-detail .container-info .category a {
  padding: 4px 8px;
  text-decoration: none;
  background-color: #797a97;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
}
body .main-article-detail .article-detail .container-article-detail .content .info-article-detail .container-info .category a i {
  margin-right: 4px;
}
body .main-article-detail .article-detail .container-article-detail .content .info-article-detail .container-info .create-time {
  font-weight: bold;
  margin-left: 2rem;
  font-size: 18px;
}
body .main-article-detail .article-detail .container-article-detail .content article img {
  width: 70%;
  margin: 1rem 8rem;
}
@media screen and (max-width: 576px) {
  body .main-article-detail .article-detail .container-article-detail .content article img {
    margin: 1rem 4rem;
  }
}
body .main-article-detail .relate-article {
  padding: 2rem 0;
}
body .main-article-detail .relate-article .container-list-news {
  margin: 0 8rem;
}
@media screen and (max-width: 992px) {
  body .main-article-detail .relate-article .container-list-news {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 576px) {
  body .main-article-detail .relate-article .container-list-news {
    margin: 0 2rem;
  }
}
body .main-article-detail .relate-article .container-list-news .title {
  margin-bottom: 1rem;
}
body .main-article-detail .relate-article .container-list-news .title h3 {
  font-size: 35px;
  color: #1a3c6a;
}
body .main-article-detail .relate-article .container-list-news .card-news {
  display: flex;
  margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
  body .main-article-detail .relate-article .container-list-news .card-news {
    display: block;
  }
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news {
  width: 33.33333%;
  margin: 0 16px;
}
@media screen and (max-width: 576px) {
  body .main-article-detail .relate-article .container-list-news .card-news .item-card-news {
    width: 100%;
    margin: 20px 16px;
  }
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news a img {
  width: 100%;
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news .desc {
  font-family: "Open Sans", sans-serif;
  padding: 10px 12px;
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news .desc .title {
  margin: 0;
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news .desc .title a {
  text-decoration: none;
  font-size: 18px;
  color: #0082c3;
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news .desc .category {
  margin: 8px 0;
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news .desc .category span {
  background-color: #e2e4e9;
  color: #1a3c6a;
  padding: 4px 18px;
  font-size: 14px;
  font-weight: 500;
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news .desc .time span {
  color: #797a97;
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news .desc .time span i {
  margin-right: 8px;
  color: #797a97;
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news .content {
  padding: 0 12px;
}
body .main-article-detail .relate-article .container-list-news .card-news .item-card-news .content p {
  font-size: 14px;
}
body .main-output-standards {
  margin-top: 6rem;
}
body .main-output-standards .output {
  padding: 2rem 0;
}
body .main-output-standards .output .container-output {
  width: 1140px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  body .main-output-standards .output .container-output {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  body .main-output-standards .output .container-output {
    width: 90%;
    margin: 0 1rem;
  }
}
body .main-output-standards .output .container-output .content {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
body .main-output-standards .output .container-output .content h3 {
  font-size: 35px;
  color: #1a3c6a;
}
body .main-output-standards .output .container-output .content p {
  font-size: 18px;
  font-weight: 500;
  margin: 1rem 0;
}
body .main-output-standards .output .container-output .content .desc strong {
  font-size: 22px;
  color: #1a3c6a;
}
body .main-output-standards .output .container-output .content .desc p {
  font-size: 16px;
}
body .main-research {
  margin-top: 6rem;
}
body .main-research .seminar {
  padding: 2rem 0;
}
body .main-research .seminar .container-seminar {
  margin: 0 8rem;
}
@media screen and (max-width: 992px) {
  body .main-research .seminar .container-seminar {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 576px) {
  body .main-research .seminar .container-seminar {
    margin: 0 2rem;
  }
}
body .main-research .seminar .container-seminar .title {
  margin-bottom: 1rem;
}
body .main-research .seminar .container-seminar .title h3 {
  font-size: 35px;
  color: #1a3c6a;
}
body .main-research .seminar .container-seminar .card-news {
  display: flex;
  margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
  body .main-research .seminar .container-seminar .card-news {
    display: block;
  }
}
body .main-research .seminar .container-seminar .card-news .item-card-news {
  width: 33.33333%;
  margin: 0 16px;
}
@media screen and (max-width: 576px) {
  body .main-research .seminar .container-seminar .card-news .item-card-news {
    width: 100%;
    margin: 20px 16px;
  }
}
body .main-research .seminar .container-seminar .card-news .item-card-news a img {
  width: 100%;
}
body .main-research .seminar .container-seminar .card-news .item-card-news .desc {
  font-family: "Open Sans", sans-serif;
  padding: 10px 12px;
}
body .main-research .seminar .container-seminar .card-news .item-card-news .desc .title {
  margin: 0;
}
body .main-research .seminar .container-seminar .card-news .item-card-news .desc .title a {
  text-decoration: none;
  font-size: 18px;
  color: #0082c3;
}
body .main-research .seminar .container-seminar .card-news .item-card-news .desc .category {
  margin: 8px 0;
}
body .main-research .seminar .container-seminar .card-news .item-card-news .desc .category span {
  background-color: #e2e4e9;
  color: #1a3c6a;
  padding: 4px 18px;
  font-size: 14px;
  font-weight: 500;
}
body .main-research .seminar .container-seminar .card-news .item-card-news .desc .time span {
  color: #797a97;
}
body .main-research .seminar .container-seminar .card-news .item-card-news .desc .time span i {
  margin-right: 8px;
  color: #797a97;
}
body .main-research .seminar .container-seminar .card-news .item-card-news .content {
  padding: 0 12px;
}
body .main-research .seminar .container-seminar .card-news .item-card-news .content p {
  font-size: 14px;
}
body .main-research .seminar .container-seminar .number-page ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-research .seminar .container-seminar .number-page ul li {
  padding: 0 16px;
  margin: 0 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-research .seminar .container-seminar .number-page ul li a {
  text-decoration: none;
  color: #000;
}
body .main-research .seminar .container-seminar .number-page ul li.active {
  background-color: #0082c3;
}
body .main-research .seminar .container-seminar .number-page ul li.active a {
  color: #fff;
}
body .main-research .seminar .container-seminar .number-page ul li:hover {
  background-color: #0082c3;
}
body .main-research .seminar .container-seminar .number-page ul li:hover a {
  color: #fff;
}
body .main-research .competition {
  padding: 2rem 0;
  background-color: #e2e4e9;
}
body .main-research .competition .container-competition {
  margin: 0 8rem;
}
@media screen and (max-width: 992px) {
  body .main-research .competition .container-competition {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 576px) {
  body .main-research .competition .container-competition {
    margin: 0 1rem;
  }
}
body .main-research .competition .container-competition h3 {
  font-size: 35px;
  color: #1a3c6a;
  margin-bottom: 2rem;
}
body .main-research .competition .container-competition .list-competition .item-competition {
  display: flex;
  border-bottom: 1px solid #0082c3;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}
body .main-research .competition .container-competition .list-competition .item-competition .item-left .item-image {
  width: 200px;
  height: 100px;
}
body .main-research .competition .container-competition .list-competition .item-competition .item-left .item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px;
}
body .main-research .competition .container-competition .list-competition .item-competition .item-right .item-content {
  margin-left: 1rem;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
body .main-research .competition .container-competition .list-competition .item-competition .item-right .item-content .title a {
  font-size: 18px;
  font-weight: 500;
  color: #1a3c6a;
  margin-bottom: 8px;
  text-decoration: none;
}
body .main-research .competition .container-competition .list-competition .item-competition .item-right .item-content .title a:hover {
  color: #0082c3;
}
body .main-achievement {
  margin-top: 6rem;
}
body .main-achievement .competition {
  padding: 2rem 0;
  background-color: #e2e4e9;
}
body .main-achievement .competition .container-competition {
  margin: 0 8rem;
}
@media screen and (max-width: 992px) {
  body .main-achievement .competition .container-competition {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 576px) {
  body .main-achievement .competition .container-competition {
    margin: 0 1rem;
  }
}
body .main-achievement .competition .container-competition h3 {
  font-size: 35px;
  color: #1a3c6a;
  margin-bottom: 2rem;
}
body .main-achievement .competition .container-competition .list-competition .item-competition {
  display: flex;
  border-bottom: 1px solid #0082c3;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}
body .main-achievement .competition .container-competition .list-competition .item-competition .item-left .item-image {
  width: 200px;
  height: 100px;
}
body .main-achievement .competition .container-competition .list-competition .item-competition .item-left .item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px;
}
body .main-achievement .competition .container-competition .list-competition .item-competition .item-right .item-content {
  margin-left: 1rem;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
body .main-achievement .competition .container-competition .list-competition .item-competition .item-right .item-content .title a {
  font-size: 18px;
  font-weight: 500;
  color: #1a3c6a;
  margin-bottom: 8px;
  text-decoration: none;
}
body .main-achievement .competition .container-competition .list-competition .item-competition .item-right .item-content .title a:hover {
  color: #0082c3;
}
body footer {
  background-color: #1a3c6a;
  font-family: "Open Sans", sans-serif;
}
body footer .top-footer {
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
  margin: 0 3rem;
}
@media screen and (max-width: 576px) {
  body footer .top-footer {
    margin: 0 2rem;
  }
}
body footer .top-footer .logo img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  body footer .top-footer .content {
    width: 50%;
  }
}
body footer .top-footer .content h3 {
  color: #797a97;
  font-size: 16px;
  font-weight: 400;
}
body footer .top-footer .content p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  body footer .top-footer .content p {
    font-size: 14px;
  }
}
body footer .center-footer {
  padding: 1rem 3rem;
  border-bottom: 1px solid #fff;
  background-image: url("/assets/img/banner/background-shapes.png");
  background-size: 100% 100%;
}
@media screen and (max-width: 576px) {
  body footer .center-footer {
    padding: 1rem 2rem;
  }
}
body footer .center-footer .contact-list {
  padding: 1rem 0;
}
@media screen and (max-width: 576px) {
  body footer .center-footer .contact-list {
    width: 50%;
  }
}
body footer .center-footer .contact-list .title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
body footer .center-footer .contact-list .title i {
  margin-right: 8px;
}
body footer .center-footer .contact-list ul {
  margin: 0;
  padding: 0;
}
body footer .center-footer .contact-list ul .item {
  list-style: none;
  padding: 8px 0;
}
@media screen and (max-width: 576px) {
  body footer .center-footer .contact-list ul .item {
    padding: 4px 0;
  }
}
body footer .center-footer .contact-list ul .item a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
body footer .center-footer .contact-list-last-child {
  padding-left: 90px;
}
@media screen and (max-width: 576px) {
  body footer .center-footer .contact-list-last-child {
    padding: 0;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  body footer .center-footer .contact-list-last-child {
    padding: 0;
  }
}
body footer .center-footer .poster {
  width: 100%;
}
@media screen and (max-width: 576px) {
  body footer .center-footer .poster {
    display: none;
  }
}
body footer .center-footer .poster img {
  width: 100%;
  height: 100%;
}
body footer .bottom-footer {
  padding: 1rem 0;
  text-align: center;
  background-color: #0082c3;
}
body footer .bottom-footer h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
body .show {
  display: block;
}
body .hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */